<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
  <h1 id="header">POKi chat app</h1>
  <table>
    <tr>
      <td>#</td>
      <td>user_id</td>
      <td>username</td>
      <td>display_name</td>
      <td>password</td>
    </tr>
    {{# each users }}
      <tr>
        <td>{{ this.index }}</td>
        <td>{{ this.user_id }}</td>
        <td>{{ this.username }}</td>
        <td>{{ this.displayname }}</td>
        <td>{{ this.password }}</td>
      </tr>
    {{/ each }}
  </table>
</body>

</html>